---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";

const posts = (await getCollection("posts")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="bashout.">
    <main>
        <section>
            <ul>
                {
                    posts.map((post) => (
                        <li class="post pastel-purple">
                            <a
                                href={`/posts/${post.id}/`}
                                class="flex flex-row"
                            >
                                <Image
                                    width={360}
                                    height={180}
                                    src={post.data.heroImage}
                                    decoding="async"
                                    loading="eager"
                                    alt=""
                                />
                                <div>
                                    <h2 class="title">{post.data.title}</h2>
                                    <h3 class="date">
                                        <FormattedDate date={post.data.pubDate} />
                                    </h3>
                                <div>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</Layout>

<style>
    img {
        border-radius: 5px 5px;
        margin-right: .5rem;
    }

    .post {
        border: 5px solid #f3b0c3;
        border-radius: 5px;
        margin: .5rem;
        background-color: #ffffd1;
        padding: .5rem;
    }
</style>
