---
const menuitems = [
    {
        title: "About",
        path: "/about",
    },
    {
        title: "Contact",
        path: "/contact",
    },
];
---

<nav>
    <ul class="flex flex-col lg:flex-row lg:gap-3">
        <li
            class="flex lg:px-3 py-2 items-center text-lg text-gray-600 hover:text-gray-900"
        >
            &gt; bashout.
        </li>
        {
            menuitems.map((item) => (
                <li>
                    <a
                        href={item.path}
                        class="flex lg:px-3 py-2 items-center text-lg text-gray-600 hover:text-gray-900"
                    >
                        <span> {item.title}</span>
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
