---
const menuitems = [
    {
        title: "bashout.",
        path: "/",
    },
    {
        title: "about",
        path: "/about",
    },
    {
        title: "contact",
        path: "/contact",
    },
];
---

<nav>
    <ul class="flex flex-col lg:flex-row lg:gap-3">
        {
            menuitems.map((item) => (
                <li>
                    <a
                        href={item.path}
                        class="flex lg:px-3 py-2 items-center text-lg text-gray-600 hover:text-gray-900"
                    >
                        <span>{item.title}</span>
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    nav {
        background-color: #abdee6;
        border-bottom: 5px solid black;
    }
</style>
