---
import NavMenu from "./NavMenu.astro";
import NavMobile from "./NavMobile.astro";
---

<nav class="flex">
    <NavMenu />
    <NavMobile />
    <style>
        nav {
            background-color: #abdee6;
            border-bottom: 5px solid black;
            width: 100%;
            font-size: 1.125rem;
            line-height: 1.75rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    </style>
</nav>
