---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Timeline from "../components/Timeline.astro";
import { Image } from "astro:assets";

import profileImage from "../assets/pfp.png";
---

<Layout title="bashout.">
    <div class="profile-container text-center">
        <div class="profile">
            <Image
                class="profile-image"
                src={profileImage}
                width="256"
                height="256"
                decoding="async"
                loading="eager"
                alt="Artistic interpretation of male with long hair in gi"
            />
            <div class="contact-list">
                <div class="contact-item">
                    <a
                        href="https://www.linkedin.com/in/brian-toye/"
                        target="_blank"
                        ><Icon name="devicon:linkedin" />brian-toye</a
                    >
                </div>
                <div class="contact-item">
                    <a href="mailto:dev@bashout.work" target="_blank"
                        ><Icon name="mdi:alternate-email" />dev@bashout.work</a
                    >
                </div>
                <div class="contact-item">
                    <a href="https://github.com/BashouT" target="_blank"
                        ><Icon name="mdi:github" />dev@bashout.work</a
                    >
                </div>
            </div>
        </div>
        <Timeline />
    </div>
</Layout>
<style>
    [data-icon] {
        font-size: 3rem;
        color: black;
    }

    .contact-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 1rem;
    }

    .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-item a {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .profile-image {
        border-radius: 50%;
        border: 5px solid #f3b0c3;
        object-fit: cover;
        margin-bottom: 1rem;
        margin-top: 1rem;
        animation: fadeIn 1s 0s ease-in-out;
    }

    .profile-container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>
