---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Timeline from "../components/Timeline.astro";
import { Image } from "astro:assets";

import profileImage from "../assets/pfp.png";

const content = {
    section1: "June 2023 - Present",
    section2: "February 2021 - June 2023",
    section3: "March 2019 - February 2021",
    section4: "October 2017 - March 2019",
    section5: "2013 - 2017",
    jobs: [
        [
            "Maintained and delivered new features for multiple social care-focused integration applications.",
            "Delivered a new financial solution that enabled the business to recover significant overspend.",
            "Addressed historical overspending caused by poor commissioning.",
            "Improved commissioning processes through the development of internal portals.",
            "Implemented dynamic and automated commissioning via the internally developed portals.",
        ],
        [
            "Developed new features for social care integration applications.",
            "Created a financial solution to recover significant business overspend.",
            "Resolved historical overspending issues from poor commissioning practices.",
            "Enhanced commissioning processes with internal portals.",
            "Automated and streamlined commissioning through dynamic internal portals.",
        ],
        [
            "Developed custom integrations with the authority's social care system using a SOAP-based API.",
            "Implemented custom business logic in a Web API application that processed user input from GovService (Firmstep).",
            "Created custom forms and templates for various authority workflows within GovService, including user lookup and backend API integration.",
            "Gained limited experience with GovService workflows that utilized API data and XSLT to display relevant information to users.",
            "Rearchitected an over-scheduled day care solution to ensure successful delivery and provide business value.",
        ],
    ],
};
---

<Layout title="bashout.">
    <div class="profile-container text-center">
        <div class="profile">
            <Image
                class="profile-image"
                src={profileImage}
                width="256"
                height="256"
                decoding="async"
                loading="eager"
                alt="Artistic interpretation of male with long hair in gi"
            />
            <div class="contact-list">
                <div class="contact-item">
                    <a
                        href="https://www.linkedin.com/in/brian-toye/"
                        target="_blank"
                        aria-label="LinkedIn"
                        ><Icon name="devicon:linkedin" /><p>brian-toye</p></a
                    >
                </div>
                <div class="contact-item">
                    <a
                        href="mailto:dev@bashout.work"
                        target="_blank"
                        aria-label="Email"
                        ><Icon name="mdi:alternate-email" /><p>
                            dev@bashout.work
                        </p></a
                    >
                </div>
                <div class="contact-item">
                    <a
                        href="https://github.com/BashouT"
                        target="_blank"
                        aria-label="GitHub"
                        ><Icon name="mdi:github" /><p>dev@bashout.work</p></a
                    >
                </div>
            </div>
        </div>
        <Timeline content={content} />
    </div>
</Layout>
<style>
    [data-icon] {
        font-size: 3rem;
        color: black;
    }

    .contact-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 1rem;
    }

    .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-item a {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .profile-image {
        border-radius: 50%;
        border: 5px solid #f3b0c3;
        object-fit: cover;
        margin-bottom: 1rem;
        margin-top: 1rem;
        animation: fadeIn 1s 0s ease-in-out;
    }

    .profile-container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    @media screen and (max-width: 640px) {
        .contact-list p {
            display: none;
        }
    }
</style>
