---
import Layout from "../layouts/Layout.astro";
---

<Layout title="bashout.">
    <main>
        <h1>bashout.</h1>
        <h2 class="display flex flex-col mt-auto mb-auto">
            Under Development<h2></h2>
        </h2>

        <style>
            main {
                margin: auto;
                padding: 1rem;
                width: 800px;
                max-width: calc(100% - 2rem);
            }
        </style>
    </main></Layout
>
