---
import Layout from "../layouts/Layout.astro";
---

<Layout title="bashout.">
    <main>
        <h1>bashout.</h1>
        <h2>Under Development</h2>

        <style>
            main {
                margin: auto;
                padding: 1rem;
                width: 800px;
                max-width: calc(100% - 2rem);
            }
        </style>
    </main>
</Layout>
